<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yy.server.mapper.CustomerMapper">
    <resultMap id="BaseResultMap" type="com.yy.server.model.Customer">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="account" jdbcType="VARCHAR" property="account"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="all_phone" jdbcType="VARCHAR" property="allPhone"/>
        <result column="state" jdbcType="BIT" property="state"/>
        <result column="invite_code" jdbcType="VARCHAR" property="inviteCode"/>
        <result column="country_id" jdbcType="INTEGER" property="countryId"/>
        <result column="salt" jdbcType="VARCHAR" property="salt"/>
        <result column="language" jdbcType="VARCHAR" property="language"/>
        <result column="origin" jdbcType="INTEGER" property="origin"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="created_time" jdbcType="TIMESTAMP" property="createdTime"/>
        <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime"/>
        <result column="certificate_state" jdbcType="BIT" property="certificateState"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="reg_way" jdbcType="INTEGER" property="regWay"/>
        <result column="self_invite" jdbcType="VARCHAR" property="selfInvite"/>
        <result column="app_id" jdbcType="VARCHAR" property="appId"/>
        <result column="identity" jdbcType="VARCHAR" property="identity"/>
        <result column="area_id" jdbcType="INTEGER" property="areaId"/>
        <result column="sex" jdbcType="CHAR" property="sex"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="age_range" jdbcType="CHAR" property="ageRange"/>
        <result column="job_type" jdbcType="CHAR" property="jobType"/>
    </resultMap>

    <resultMap id="cus" type="com.yy.server.model.logic.CustomerAndCountry">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="account" property="account"/>
        <result column="password" property="password"/>
        <result column="phone" property="phone"/>
        <result column="all_phone" property="allPhone"/>
        <result column="state" property="state"/>
        <result column="invite_code" property="inviteCode"/>
        <result column="salt" property="salt"/>
        <result column="language" property="language"/>
        <result column="origin" property="origin"/>
        <result column="remark" property="remark"/>
        <result column="created_time" property="createdTime"/>
        <result column="updated_time" property="updatedTime"/>
        <result column="country_id" property="countryId"/>
        <result column="app_id" jdbcType="VARCHAR" property="appId"/>
        <result column="result_id" jdbcType="VARCHAR" property="resultId"/>
        <association javaType="com.yy.server.model.Country" property="country">
            <id column="country_id" property="countryId"/>
            <result column="nameEN" jdbcType="VARCHAR" property="nameen"/>
            <result column="nameCH" jdbcType="VARCHAR" property="namech"/>
            <result column="countryCode" jdbcType="VARCHAR" property="countrycode"/>
            <result column="areaCode" jdbcType="VARCHAR" property="areacode"/>
            <result column="type" jdbcType="INTEGER" property="type"/>
            <result column="createdAt" jdbcType="TIMESTAMP" property="createdat"/>
            <result column="updatedAt" jdbcType="TIMESTAMP" property="updatedat"/>
        </association>
    </resultMap>
    <resultMap id="cust" type="com.yy.server.model.logic.CustomerAndCountry">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="account" property="account"/>
        <result column="password" property="password"/>
        <result column="phone" property="phone"/>
        <result column="all_phone" property="allPhone"/>
        <result column="state" property="state"/>
        <result column="invite_code" property="inviteCode"/>
        <result column="salt" property="salt"/>
        <result column="language" property="language"/>
        <result column="origin" property="origin"/>
        <result column="sex" property="sex"/>
        <result column="remark" property="remark"/>
        <result column="created_time" property="createdTime"/>
        <result column="updated_time" property="updatedTime"/>
        <result column="country_id" property="countryId"/>
        <result column="certificate_state" property="certificateState"/>
        <result column="self_invite" property="selfInvite"/>
        <result column="app_id" jdbcType="VARCHAR" property="appId"/>
        <result column="result_id" jdbcType="VARCHAR" property="resultId"/>
        <result column="shop_name" jdbcType="VARCHAR" property="shopName"/>
        <result column="shop_logo" jdbcType="VARCHAR" property="shopLogo"/>
        <result column="age_range" jdbcType="VARCHAR" property="ageRange"/>
        <result column="job_type" jdbcType="VARCHAR" property="jobType"/>
        <association column="country_id" javaType="com.yy.server.model.Country" property="country"
                     select="com.yy.server.mapper.CountryMapper.selectById">
        </association>
    </resultMap>


    <resultMap id="BasicCust" type="com.yy.server.model.BasicCustomerInfo">
        <result column="account" property="account"/>
        <result column="phone" property="cellphone"/>
        <result column="cust_name" property="name"/>
        <result column="idtype" property="idType"/>
        <result column="idno" property="idNo"/>
        <result column="countryname" property="country"/>
        <result column="provinceName" property="province"/>
        <result column="cityName" property="city"/>
        <result column="origin" property="origin"/>
        <result column="inviteCode" property="inviteCode"/>
        <result column="createdtime" property="regTime"/>
        <result column="remark" property="remark"/>
        <result column="state" property="state"/>
        <result column="app_id" property="appId"/>
        <result column="self_invite" property="selfInvite"/>
        <result column="front_url" property="frontUrl"/>
        <result column="back_url" property="backUrl"/>
    </resultMap>

    <select id="getCusts" parameterType="com.yy.server.model.view.CustSelVO" resultMap="cust">
        SELECT cs.id, cs.self_invite,cs.name,cs.sex,
        cs.account,cs.remark,cs.origin,cs.all_phone,cs.state,cs.invite_code,cs.salt,cs.language,cs.created_time,cs.country_id,
        cs.certificate_state,aw.shop_name shop_name,cs.app_id
        FROM app_shop aw left join customer cs on aw.zid = cs.app_id
        <where>
            cs.id is not null
            <if test="startTime!='' and endTime != '' and startTime != null and endTime != null">
                and cs.created_time BETWEEN #{startTime} and #{endTime}
            </if>
            <if test="remark!=null and remark!=''">
                and cs.remark = #{remark}
            </if>
            <if test="allPhone!=null and allPhone!=''">
                and cs.all_phone = #{allPhone}
            </if>
            <if test="inviteCode!=null and inviteCode!=''">
                and cs.self_invite = #{inviteCode}
            </if>
            <if test="countryCode!=null and countryCode!=''">
                and cs.countryCode = #{countryCode}
            </if>
            <if test="state==true">
                and cs.state = 1
            </if>
            <if test="state==false">
                and cs.state = 0
            </if>
            <if test="account!=null and account!=''">
                and cs.account like CONCAT(CONCAT('%',#{account},'%'))
            </if>
            <if test="name!=null and name!=''">
                and cs.name like CONCAT(CONCAT('%',#{name},'%'))
            </if>
            <if test="appId!=null and appId!=''">
                and app_id = #{appId}
            </if>
        </where>
        order by cs.created_time DESC
    </select>


    <select id="getCustomerList" parameterType="com.yy.server.model.view.CustSelVO" resultMap="cust">
        SELECT cs.id,
        cs.account,cs.remark,cs.origin,cs.all_phone,cs.state,cs.invite_code,cs.sex,cs.name,cs.language,cs.created_time,ii.updated_time,cs.country_id,
        cs.certificate_state,aw.shop_name shop_name,(select img_url from app_show_skin where type='4' and
        app_id=cs.app_id) shop_logo,cs.app_id,(select a.result_id from ai_diagnose_cust_result a where a.cust_id=cs.id
        ORDER BY a.create_time desc LIMIT 1) result_id
        FROM app_shop aw left join customer cs on aw.zid = cs.app_id LEFT JOIN identity_info ii
        on ii.cust_id = cs.id
        <where>
            cs.state=1
            <if test="startTime!='' and endTime != '' and startTime != null and endTime != null">
                and ii.updated_time BETWEEN #{startTime} and #{endTime}
            </if>
            <if test="remark!=null and remark!=''">
                and cs.remark = #{remark}
            </if>
            <if test="allPhone!=null and allPhone!=''">
                and cs.all_phone = #{allPhone}
            </if>
            <if test="inviteCode!=null and inviteCode!=''">
                and cs.self_invite = #{inviteCode}
            </if>
            <if test="countryCode!=null and countryCode!=''">
                and cs.countryCode = #{countryCode}
            </if>
            <if test="account!=null and account!=''">
                and (cs.account like CONCAT('%',#{account},'%') or cs.name like CONCAT('%',#{account},'%'))
            </if>
            <if test="name!=null and name!=''">
                and cs.name like CONCAT('%',#{name},'%')
            </if>
            <if test="appId!=null and appId!=''">
                and cs.app_id = #{appId}
            </if>
        </where>
        order by cs.created_time DESC
    </select>

    <select id="getBasicCustomerInfo" parameterType="java.util.Map" resultMap="BasicCust">
        select a.account account, a.phone phone,a.self_invite,b.cust_name cust_name,b.idType idtype,b.idNo idno,a.nameCH
        countryname, b.provinceName provinceName, b.cityName cityName,a.origin origin,
        a.invite_code inviteCode,a.created_time createdtime,a.remark remark,a.state state,a.app_id app_id ,b.front_url
        front_url,b.back_url back_url ,a.cust_id cust_id from
        (select a.cust_id, a.account account,a.self_invite, a.phone phone,b.nameCH nameCH,a.origin origin,a.invite_code
        invite_code, a.created_time created_time,a.remark remark,a.state state,a.app_id app_id
        from customer a ,country b where a.country_id=b.country_id and a.account=#{account}
        <if test="appId!=null and appId!=''">
            and a.app_id = #{appId}
        </if>
        )
        a left join
        (select a.cust_id cust_id,a.cust_name cust_name,a.identity_no idNo,a.identity_type idType,a.front_url
        front_url,a.back_url back_url ,b.name provinceName, c.name cityName from identity_info a,area_dic b,area_dic c
        where a.province_id=b.area_id and a.city_id=c.area_id
        ) b on a.cust_id=b.cust_id
    </select>
    <update id="updCustomerInfo" parameterType="java.util.Map">
        update customer set remark=#{remark} ,state=#{state} where id = #{id}
    </update>

    <select id="selectByCusId" resultMap="BaseResultMap">
        select * from customer where id = #{id}
    </select>

    <select id="getTheCustByCode" resultMap="BaseResultMap">
        select * from customer where self_invite =#{param1}
    </select>
    <select id="getCustByCode" resultMap="BaseResultMap">
        select * from customer where self_invite =#{param1} and app_id=#{param2}
    </select>

    <select id="getCustomerInfo" resultMap="cust">
        SELECT cs.id,cs.self_invite,
        cs.account,cs.remark,cs.origin,cs.all_phone,cs.state,cs.invite_code,cs.name,(case when cs.sex=1 then '男' when cs.sex=2 then '女' else '' end) sex,
        (select a.key_desc from propertie_tab a where a.group_key='age_range' and a.group_value=cs.age_range) age_range,(select a.key_desc from propertie_tab a where a.group_key='job_type' and a.group_value=cs.job_type) job_type,cs.name,cs.language,cs.created_time,ii.updated_time,cs.country_id,
        cs.certificate_state,aw.shop_name shop_name,(select img_url from app_show_skin where type='4' and
        app_id=cs.app_id) shop_logo,cs.app_id,(select a.result_id from ai_diagnose_cust_result a where a.cust_id=cs.id
        ORDER BY a.create_time desc LIMIT 1) result_id
        FROM app_shop aw left join customer cs on aw.zid = cs.app_id LEFT JOIN identity_info ii
        on ii.cust_id = cs.id where cs.id=#{id}
    </select>

    <select id="selectByUsername" resultMap="BaseResultMap">
        select * from customer where account = #{account} and app_id =#{appId}
    </select>

    <select id="selectCounts" resultType="Integer">
        select count(*) from customer
        <where>
            state = 1
            <if test="appId!=null and appId!=''">
                and app_id = #{appId}
            </if>
        </where>
    </select>

</mapper>