<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yy.server.mapper.PmPlanCustOrderDetailMapper">
  <resultMap id="BaseResultMap" type="com.yy.server.model.PmPlanCustOrderDetail">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="order_id" jdbcType="INTEGER" property="orderId" />
    <result column="factor_id" jdbcType="INTEGER" property="factorId" />
    <result column="factor_value" jdbcType="VARCHAR" property="factorValue" />
    <result column="del_flag" jdbcType="CHAR" property="delFlag" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="factor_remark_value" jdbcType="VARCHAR" property="factorRemarkValue" />
  </resultMap>
  <update id="updateDelOrderDetailsByOrderId">
    update pm_plan_cust_order_detail set del_flag='Y',update_time=now() where order_id=#{orderId}
  </update>
</mapper>