<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yy.server.mapper.RoleMapper">
    <resultMap id="BaseResultMap" type="com.yy.server.model.Role">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="role_id" property="roleId" jdbcType="VARCHAR"/>
        <result column="role_name" property="roleName" jdbcType="VARCHAR"/>
        <result column="role_desc" property="roleDesc" jdbcType="VARCHAR"/>
        <result column="enable" property="enable" jdbcType="BIT"/>
        <result column="created_time" property="createdTime" jdbcType="TIMESTAMP"/>
        <result column="updated_time" property="updatedTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <resultMap id="roles" type="com.yy.server.model.Role">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="role_id" property="roleId" jdbcType="VARCHAR"/>
        <result column="role_name" property="roleName" jdbcType="VARCHAR"/>
        <result column="role_desc" property="roleDesc" jdbcType="VARCHAR"/>
        <result column="enable" property="enable" jdbcType="BIT"/>
        <result column="created_time" property="createdTime" jdbcType="TIMESTAMP"/>
        <result column="updated_time" property="updatedTime" jdbcType="TIMESTAMP"/>
        <collection property="menus" column="role_id"
                    ofType="com.yy.server.model.Menu"
                    select="com.yy.server.mapper.RoleMenuMapper.getByRoleId">
        </collection>
    </resultMap>
    <select id="selectRoles" resultMap="roles">
        select * from role where enable=1
        order by created_time
    </select>
</mapper>